asgiref==3.7.1
Django==4.2.13
django-ckeditor==6.5.1
django-crispy-forms==2.1
django-js-asset==2.1.0
django-phonenumber-field==7.2.0
phonenumbers==8.13.0
Pillow==12.3.0
pytz==2024.1
sqlparse==0.4.4
whitenoise==6.6.0
gunicorn==21.2.0
python-dotenv==1.0.0
dj-database-url==2.1.0
psycopg2-binary==2.9.9
